body {
    font-family: cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    padding: 20px;
}

header h1 {
    display: inline;
    margin-right: 20px;
}

nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.card {
    background-color: pink;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input, form textarea {
    margin-bottom: 20px;
}

form input[type="submit"] {
margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: lightpink;
}